<section class = "ex-top">
  <div class="container">
    <h1>CodeMateへようこそ。</h1>

    <div class="original-logo">
      <div class="logo-box">
        <div class="ex-top-logo codemate-logo-color">
          <i class="fa fa-power-off fa-lg"></i>
          </div>
      </div>
    </div>
<!-- 
    <div class="main-logo">
      <%= image_tag 'logo.png', class: "codemate-logo" %>
    </div> -->
    <p class = "ex-subtitle ex-box">CodeMateは日本人プログラマーのために作られた、プログラミング専門Ｑ＆Ａサイトです。様々な機能が搭載されているこのサイトは、あなたの開発に欠かせないお供になること間違いありません。</p>
  </section>

  <section class="ex-search ex-box ex-box-odd">
    <div class="container">
      <h1>困ったら検索してみましょう。</h1>
    </div>
  </section>

  <section class="ex-post ex-box ex-box-even">
    <div class="container">
      <h1>解決策が見つからない時は質問してみましょう。</h1>
    </div>
  </section>

  <section class="ex-tag ex-box ex-box-odd">
    <div class="container">
      <h1>質問にタグをつければ仲間に見つけてもらえます。</h1>
    </div>
  </section>

  <section class="ex-reply ex-box ex-box-even">
    <div class="container">
      <h1>回答が来たら返事をしましょう。</h1>
    </div>
  </section>

  <section class="ex-edit ex-box ex-box-odd">
    <div class="container">
      <h1>自分の質問を編集してみましょう。</h1>
    </div>
  </section>

  <section class="ex-answer ex-box ex-box-even">
    <div class="container">
      <h1>困っている仲間を助けてあげましょう。</h1>
    </div>
  </section>

  <section class="ex-good ex-box ex-box-odd">
    <div class="container">
      <h1>ためになる質問＆回答を評価しましょう。</h1>
    </div>
  </section>

  <section class="ex-level ex-box ex-box-even">
    <div class="container">
      <h1>あなたの活躍はあなたのレベルアップに繋がります。</h1>
    </div>
  </section>

  <section class="ex-status ex-box ex-box-odd">
    <div class="container">
      <h1>レベルを上げて称号を手に入れましょう。</h1>
    </div>
  </section>

  <section class="ex-start ex-box ex-box-even">
    <div class="container">
      <h1>それでは素晴らしいCodeMate生活を！</h1>
    </div>
  </section>

