
<script src="/assets/jquery.scrollablelink.js" type="text/javascript"></script>
<div id="menubar">
   <ul>
      <li><a href="#ex-home" class="scrollable"><img src="/assets/ruby_free.png" class="scroll-btn"></a></li>
      <li><a href="#ex-1" class="scrollable">1</a></li>
      <li><a href="#ex-2" class="scrollable">2</a></li>
      <li><a href="#ex-3" class="scrollable">3</a></li>
      <li><a href="#ex-4" class="scrollable">4</a></li>
   </ul>
</div>
<section id="ex-home" class="ex-top ex-slide">
  <div class="container">
    <h1>RubyNoteへようこそ。</h1>

    <div class="original-logo">
      <div class="logo-box">
        <div class="ex-top-logo codemate-logo-color">
          <div class="logo-ruby"></div>
          <!-- <i class="fa fa-power-off fa-lg"></i> -->
          </div>
      </div>
    </div>
<!-- 
    <div class="main-logo">
      <%= image_tag 'logo.png', class: "codemate-logo" %>
    </div> -->
    <p class = "ex-subtitle ex-box">CodeMateは日本人プログラマーのために作られた、プログラミング専門Ｑ＆Ａサイトです。様々な機能が搭載されているこのサイトは、あなたの開発に欠かせないお供になること間違いありません。</p>

  </section>

  <section id="ex-1" class="ex-box ex-slide ex-box-odd">
    <div class="container">
      <h1>困ったら検索してみましょう。</h1>
    </div>
  </section>

  <section id="ex-2" class="ex-box ex-slide ex-box-even">
    <div class="container">
      <h1>困っている仲間を助けてあげましょう。</h1>
    </div>
  </section>

  <section id="ex-3" class="ex-box ex-slide ex-box-odd">
    <div class="container">
      <h1>あなたの活躍はあなたのレベルアップに繋がります。</h1>
    </div>
  </section>

  <section id="ex-4" class="ex-box ex-slide ex-box-even">
    <div class="container">
      <h1>それでは素晴らしいCodeMate生活を！</h1>
    </div>
  </section>

