
<li class="answer-list">
  <div class="answer-img">
  <%= profile_image_for(answer.user) %>
  </div>
  <div class="answer-main">  
  <span class="user answer-user">
    <%= link_to answer.user.name, answer.user %>
  </span><br>
  
 

  <!-- <span class="content">回答</span> -->
  <span><%= raw answer.content %></span>

  <span class="timestamp">
    
  </span>
  <% if current_user?(answer.user) %>
    <%= link_to "回答を削除", answer, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: answer.content %>
  <% end %>
  </div>
</li>
