
<% if signed_in?  %>
<div class="container">

  <div class="span8 about-timeline">
    <% if @feed_posts.any? %>
    <h3>Posts</h3>
    <ol class="microposts">
      <%= render @feed_posts %>
    </ol>
    <%= will_paginate @feed_posts %>
    <% end %>
  </div>

  <div class="about-side">
    <a href="/question">
      <div class ="question-btn">
      質問する
      </div>
    </a>
  </div>
</div>

<% else %>


<section class = "topArea">
  <div class="container">
    <h1>CodeMate</h1>
    <p class= "subtitle">日本人のためのプログラミング専門Ｑ＆Ａサイト</p>
    <p><a class="btn-lg midashi-btn" role="button" href = "/explanation">もっと詳しく &raquo;</a></p>

    <!-- <div class = "naiyou-btn"><a href="">もっと詳しく</a></div> -->
  </div>

</section>

<section class = "mainArea">
<div class="container main-content">
  <div class="row">
    <div class="col-md-9 content-area">
      <!-- <h2>最新の質問</h2> -->

      <div class="span8 toplist about-timeline">
            <% if @feed_posts.any? %>
            <h3>質問一覧</h3>
            <ol class="microposts">
              <%= render @feed_posts %>
            </ol>
            <%= will_paginate @feed_posts %>
            <% end %>
          </div>

        <div class="col-md-3 top-side">
          <aside>
            <h4>カテゴリへのリンク</h4>
            <ul class="list-unstyled">
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
            </ul>
          </aside>

          <aside>
            <h4>新着記事</h4>
            <ul class="list-unstyled">
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
              <li><a href="">記事のタイトルタイトル</a></li>
            </ul>
          </aside>

        </div><!--/.sidebar-->
      </div>
    </div><!--/.main-content-->

    </section>
    <% end %>