// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head-logo {
    color: blue;
    &:hover {
    color: green;
    background-color: #000;
  }
    font-size: 20px;
  }


  .navbar-inner{
    background-color: #000;
  }