@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;


@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body
{
  height: 100%;
}

#contents
{
  min-height: 100%;
  position: relative;
  background-color: #fcf2f3;
}

main
{
  padding-bottom: 71px;
  padding-top: 48px;
}

// *{
//   margin: 0;
//   padding: 0;
// }
.favorite-count{
  display: inline-block;
}
.post-show
{
  background-color: rgba(229, 229, 229, 0.35);
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
.post-title
{
  display: inline;
  font-size: 20px;
}

#main-logo
{
  float: left;
  margin-right: 10px;
  font-size: 35px;
  color: white;
  /* text-transm: uppercase; */
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  font-family: Georgia, Serif;
  font-weight: normal;
  // font-style: italic;
}


.search-input{
  width: 40%;
  display: inline-block;
  margin-top: 7px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

// #logo {
//   float: left;
//   margin-right: 10px;
//   font-size: 2.0em;
//   color: white;
//   text-transform: uppercase;
//   letter-spacing: -1px;
//   padding-top: 9px;
//   line-height: 1;
//   font-family: Georgia, Serif;
//   font-weight: normal;
//   font-style: italic;
//   &:hover {
//     color: #CC6D02;
//     text-decoration: none;
//   }
// }

header form{
  display: inline-block;
  margin: 0;
}

header {
  color: 622954;
}

// ここからフッターフッターフッターフッターフッター

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  // border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: white;
    &:hover {
      color: white;
      // text-decoration: underline;
    }
  }
  small {
    float: left;
  }
  ul {
    padding-bottom: 30px;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

.footer {
  height: 40px;
  margin-top: 0px;
  border-top-width: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  // padding-right: 50px;
  border-top: 1px solid #eaeaea;
  color: #999999;
  background-color: #0a2147;
}

.footer-logo {
  margin-left: 150px;
  width: 100px;
  float: left;
  margin-bottom: 0px;
  font-family: Georgia, Serif;
  // font-style: italic;
  font-size: 1.7em;
}

.footer-item{
  float: right;
  font-family: Hiragino Mincho ProN;
  padding-right: 30px;
}


// ここまでフッターフッターフッターフッターフッター

/* sidebar */

.sidebar {
  float: right;
  margin-left: 0px;
  margin-top: 80px;
  margin-right: 0px;
  background-color: #bf404f;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 2000px;
  width: 141px;
}

// サイドバーここ

// 説明ページ"explanation"ここから

.ex-top {
    // background-size: 100% 100%;
    height: 780px;
    // background-image: url(/assets/okinawa1.jpg);
    background-color: #0a2147;
    color: white;
    border: none;
    // margin-top: 48px;
  }

  .ex-top h1 {
    margin-top: 150px;
    font-size:50px;
    font-family: Hiragino Mincho ProN;
  }


  .ex-top-logo {
    margin-left: 440px;
    // margin-bottom: 15px;
    text-align: center;
    padding: 0px 0;
    height: 208px;
    width: 220px;
    border-radius: 50px;
    color: white;
    display: inline-block;
    box-shadow: 0 12px 0 #852C37;
  }

  .ex-top-logo:active {
    margin-top: 12px;
    box-shadow: none;
  }

  .ex-top-logo i {
    padding-top: 50px;
  // padding-right: 7px;
  font-size: 10.3em;

}


.codemate-logo-color {
  background-color: #bf404f;
}

.logo-box{
  height:240px;
  margin-top: 110px;
}

.ex-subtitle {
  // text-align: center;
  font-family: Hiragino Mincho ProN;
  font-size: 1.75em;
  margin-top: 60px;
  line-height: 43px;
}

.main-logo {
  // position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.codemate-logo {

}


// ここから説明が始まる
// 検索
.ex-search {
  height: 470px;
  background-color: #fef4f4;
  color: #bf404f;
  border: none;
}

.ex-search h1{
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// 質問
.ex-post {
  height: 470px;
  background-color: white;
  color: #bf404f;
  border: none;
}

.ex-post h1 {
  margin-top: 50px;
  font-size:30px;
  font-family: Hiragino Mincho ProN;
}

// タグ
.ex-tag {
  height: 470px;
  background-color: #fef4f4;
  color: #bf404f;
  border: none;
}

.ex-tag h1 {
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// 返事
.ex-reply{
  height: 470px;
  background-color: white;
  color: #bf404f;
  border: none;
}

.ex-reply h1{
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// 編集
.ex-edit {
  height: 470px;
  background-color: #fef4f4;
  color: #bf404f;
  border: none;
}

.ex-edit h1 {
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// 回答
.ex-answer{
  height: 470px;
  background-color: white;
  color: #bf404f;
  border: none;
}

.form-main{
  margin-top: 20px;
}

.ex-answer h1{
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// 評価
.ex-good {
  height: 470px;
  background-color: #fef4f4;
  color: #bf404f;
  border: none;
}

.ex-good h1 {
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// レベル
.ex-level{
  height: 470px;
  background-color: white;
  color: #bf404f;
  border: none;
}

.ex-level h1{
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// 称号
.ex-status {
  height: 470px;
  background-color: #fef4f4;
  color: #bf404f;
  border: none;
}

.ex-status h1 {
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}

// スタート
.ex-start{
  height: 470px;
  background-color: white;
  color: #bf404f;
  border: none;
}

.ex-start h1{
  margin-top: 50px;
  font-size:50px;
  font-family: Hiragino Mincho ProN;
}
// 説明ページ"explanation"ここまで



aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    overflow: hidden;
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.fa-star{
  cursor: pointer;
}

.favorite-star{
  color: yellow;
}

.unfavorite-star{
  color: gray;
}


.follow-wrapper{
  text-align: right;
}

.fa-reply{
  color: gray;
  cursor: pointer;
}
.answer-button
{
  color: white;
  background-color: rgb(107, 215, 211);
  border-radius: 8px;
  border: none;
}
.reply{
  display: none;
}

div.top-back {
  // background-image: image-url("/assets/hoge.png");
  background-color: #f0f0f0;
  color: #0a2147;
  width : 100%;
  // height: 1000px;
}

.subtitle {
  margin-left: 10px;
  margin-right: 10px;
  list-style: none;
}

.subtitle {
  font-size: 1.7em;
  margin-bottom: 30px;
}
//   div .container {
//     margin-top: 8%;
//   }

div .midashi-btn {
    // border: 1px solid red;
    color: #0a2147;
    width: 164px;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 460px;
    display: inline-block;
    padding: 12px 16px;
    font-size: 24px;
    font-family: Georgia, Serif;
    line-height: 20px;
    border: 0px solid #0a2147;
    background-color:rgba(191,64,79,0.6); 
  }

  div .midashi-btn:hover {
    color: #0a2147;
    border-color: #0a2147;
    text-decoration: none;
    background-color:rgba(191,64,79,0.75); 

  }

  .toplist{
    float: left;
  }

  .topArea {
    background-size: 100% 100%;
    height: 634px;
    background-image: url(/assets/asahi2.jpg);
    background-color: #0a2147;
    color: white;
    border: none;
  }

  .topArea h1 {
    font-family: Georgia, Serif;
    font-weight: normal;
    font-size: 65px;
  // font-style: italic;
  
  margin-top: 100px;
  margin-bottom: 25px;
  color: #bf404f;

}

.subtitle {
  font-family: Georgia, Serif;
  color: #0a2147;
  text-align: center;
}

.navbar {
  background-color: #bf404f;
  border: none;
  height: 80px;
}


.navbar-inverse .nav > li > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  &:hover {
    color:white;
    text-decoration: underline;
  }
}

.mainArea {
  background-color: #FDF1F2;
}

.about-timeline {
  margin-top: 80px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 40px;
  // background-color: rgba(223, 159, 167, 0.43);
  padding-left: 15px;
  border-top-width: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 758px;

}

.about-timeline h3 {
  margin-bottom: 30px;
  color: #0a2147;ß
}


.naiyou-btn {
  height: 40px;
  width: 120px;
  background-color: red;
  border: 1px;
  border-color: white;
  margin-bottom: 60px;
  margin-left: 10px;
}

.naiyou-btn a {
  color: white;

}

.loginArea {
  background-color: #FDF1F2;

}

.loginArea h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: fantasy;
  padding-top: 48px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.wirteArea{
  margin-bottom: 30px;
}

.header-item {
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: Hiragino Mincho ProN;
  font-size: 18px;
}

.field {
  margin-bottom: 20px;
}

.field label {
  margin-bottom: 8px;

}

.hajimetedesuka {
  margin-top: 20px;
  margin-bottom: 50px;
}

.newuserArea {

}

.newuserArea h1 {
  padding-top: 95px;
  margin-bottom: 48px;
} 

.return-btn {
  font-size: 14px;
  width:1000px;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 15px;
  float: left;
}

.email-login {
  font-family: Hiragino Mincho ProN;
  width: 27%;
  margin-left: 15%;
}

.email-login form {
  margin-bottom: 30px;
}

.email-login .actions {
  margin-bottom: 35px;
}

.email-login legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.or-login {
  position: absolute;
  left: 42%;
  width: 16%;
  text-align: center;
  line-height: 183px;
}

.sns-login {
  position: absolute;
  left: 58%;
  width: 27%;
}

.sns-login legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.facebook-color {
  background-color: #4c5a9c;
}

.twitter-color {
  background-color: #55acee;
}

.googleplus-color {
  background-color: #DD4B39;
}

.sns-login-btn {
  margin-bottom: 15px;
  text-align: center;
  padding: 10px 0;
  width: 220px;
  border-radius: 3px;
  color: white;
  display: inline-block;
}

.login-btn{
  margin-bottom: 15px;
  text-align: center;
  padding: 10px 70px;
  width: 220px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  background-color: #1531a8;
  border: none;
}

.login-btn:focus {
  outline: none;
}

.search-btn {
  height: 27px;
  padding-bottom: 7px;
  padding-top: 3px;
  margin-bottom: 12px;
  margin-left: 5px;
  text-align: center;
  padding: 5px;
  // width: 220px;
  border-radius: 3px;
  color: #0a2147;
  display: inline-block;
  background-color: #e6e6e6;
  border: none;
}

.search-btn:focus {
  outline: none;
}

.container {
  width: 1100px;
}

.about-side {
  width: 190px;
  height: 600px;
  float: left;
  margin-left: 30px;
  margin-top: 80px;
  background-color: #E67B91;
  padding-left: 25px;
  padding-top: 25px;
  padding-right: 25px;

}

.question-btn {
  background-color: #DA3B5B;
  padding: 5px 5px 5px 5px ;
  color: white;
  &:hover {
    text-decoration: none;
  }
}

.top-side {
  float: right;
  margin-left: 0px;
  margin-top: 80px;
  margin-right: 0px;
  background-color: rgba(100, 0, 0, 0.11);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  width: 200px;
}

.header-contents {
  padding-top: 13px;
}

.search-box {
  height: 400px;
}

.search-item {
  width:300px;
}

.main-container {
margin-right: auto;
margin-left: auto;
width: 1100px;
margin-top: 70px;
margin-bottom: 50px;
}

.profile-box {
  margin-left: 0px;
}

.myposts {
  margin-bottom: 20px;
}

.original-btn{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px 70px;
  width: 220px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  background-color: #1531a8;
  border: none;
}

.original-btn:focus {
  outline: none;
}

.post-form {
  background-color: #EE94B1;
  border-radius: 16px;
  margin-bottom: 40px;
  margin-right: 16px;
  padding-left: 13px;
  box-shadow: 0 10px 0 #E34D7E;
}

.microposts li {
  border: none;
}