<footer class="footer">
  
  <nav>
    <ul>
    	<li class="footer-logo"><a href="/">CodeMate</a></li>
      <li class = "footer-item"><%= link_to "利用規約",   root_path %></li>
      <li class = "footer-item"><%= link_to "お問い合わせ", 'inquiry_path' %></li>
      <!-- <li><a href="http://news.railstutorial.jp/">News</a></li> -->
    </ul>
  </nav>
</footer>